[submodule "02_construction"]
	path = 02_construction
	url = git@github.com:yevagorbachev/02_construction.git
[submodule "03_list"]
	path = 03_list
	url = git@github.com:yevagorbachev/03_list.git
[submodule "04_randfile"]
	path = 04_randfile
	url = git@github.com:yevagorbachev/04_randfile.git
[submodule "05_stat"]
	path = 05_stat
	url = git@github.com:yevagorbachev/05_stat.git
[submodule "06_dirinfo"]
	path = 06_dirinfo
	url = git@github.com:yevagorbachev/06_dirinfo.git
[submodule "07_parse_args"]
	path = 07_parse_args
	url = git@github.com:yevagorbachev/07_parse_args.git
[submodule "08_semaphone"]
	path = 08_semaphone
	url = git@github.com:yevagorbachev/08_semaphone.git
